body{
    background: #259F32;
    /* display: flex;
    align-items: center;
    justify-self: center;
    margin: auto; */
    padding:1rem;
}
*{
    padding:0px;
    box-sizing: border-box;
    margin:0px;
    transition: .3s ease;
}

a{
    font-size: 90%;
}

li{
    text-decoration: none;
}

.img{
    width:100% ;
    height:auto;
}

/* .flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
} */

.btn{
    border:none;
    outline: none;
    cursor: pointer;
    border-radius:8px ;
    box-shadow: 0 2px 4px gray;
    padding:8rem 1 rem;
    color:green;
}
.btn:hover{
  background-color: darkgoldenrod;  
  color:white;
}
.container{
    position: relative;
    width:95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px gray;
}